<div class="form-inline">
	<div class="form-group">
		<input id="currency" type="text" placeholder="Moeda" class="form-control filter-field">		
	</div>

	<div class="form-group">
		<input id="start-date" type="text" placeholder="Data Inicial" class="form-control date filter-field">		
	</div>

	<div class="form-group">
		<input id="final-date" type="text" placeholder="Data Final" class="form-control date filter-field">		
	</div>

	<a id="obter-cotacao" class="btn btn-primary">Obter cotação</a>
</div>

<div id="container" class="graphic-container"></div>
